<h1>Form Page</h1>



{{!-- the action field here is the endpoint of the post route that you create in order to grab the values of the input fields. In this forms case the route we are looking of is "/form-input" and the method states that it should be a post route --}}
<form class="" action="/form-input" method="post">
    <label for="titleInput"> Title </label>
    <input id="titleInput" type="text" name="title" value="" placeholder="Clean House">

    <label for="descriptionInput"> Description </label>
    <input id="descriptionInput" type="text" name="description" value="" placeholder="in laws are coming over">

    <label for="priorityInput"> Priority </label>
    <input id="priorityInput" type="number" name="priority" value="" placeholder="0-5">

    <button> Add Task </button>
</form>